html.no-js(lang='en')
  head
    block title
      title Eric Irish | Photography
    block meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
      meta(property='og:type', content='website')
      meta(property='og:site_name', content='Eric Irish | Automotive Photography')
      meta(property='og:url', content='https://ericirish.com')
    block description
      meta(property='og:title', content='Eric Irish | Automotive Photography')
      meta(name='description', content='The automotive photography of Eric Irish in Austin, TX')
    block ogImage
      meta(property='og:image', content='https://www.ericirish.com/images/Website-1080-32.jpg')
      meta(property='og:image:width', content='1080')
      meta(property='og:image:height', content='720')
    block favicons
        link(rel='apple-touch-icon-precomposed', sizes='57x57', href='images/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon-precomposed', sizes='60x60', href='images/favicons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon-precomposed', sizes='76x76', href='images/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/favicons/apple-touch-icon-152x152.png')
        link(rel='icon', type='image/png', href='images/favicons/favicon-196x196.png', sizes='196x196')
        link(rel='icon', type='image/png', href='images/favicons/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='images/favicons/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='images/favicons/favicon-16x16.png', sizes='16x16')
        link(rel='icon', type='image/png', href='images/favicons/favicon-128.png', sizes='128x128')
        meta(name='application-name', content='Eric Irish')
        meta(name='msapplication-TileColor', content='#FFFFFF')
        meta(name='msapplication-TileImage', content='images/favicons/mstile-144x144.png')
        meta(name='msapplication-square70x70logo', content='images/favicons/mstile-70x70.png')
        meta(name='msapplication-square150x150logo', content='images/favicons/mstile-150x150.png')
        meta(name='msapplication-wide310x150logo', content='images/favicons/mstile-310x150.png')
        meta(name='msapplication-square310x310logo', content='images/favicons/mstile-310x310.png')

    block fonts
     link(href='images/favicons/https://fonts.googleapis.com/css?family=Montserrat:300,400' rel='stylesheet')

    block scripts
    block resources
      style
        include app.css

  body
    header
      .title
        h1 Eric Irish | Photography
      .details
        a(href='images/favicons/https://instagram.com/ecirish')
          include ./instagram.svg
          span ecirish
        a(href='images/favicons/mailto:ecirish@gmail.com')
          include ./email.svg
          span ecirish@gmail.com
        p Austin, TX

    block content

    footer
      .details
        a(href='images/favicons/https://instagram.com/ecirish')
            include ./instagram.svg
            span ecirish
        a(href='images/favicons/mailto:ecirish@gmail.com')
          include ./email.svg
          span ecirish@gmail.com
        p Austin, TX
    block foot
      script(src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js")
      script.
        images = document.getElementById('images');
        var myLazyLoad = new LazyLoad({
          container: images,
          threshold: 1000,
          //to_webp: true
        });
