extends ../base-layout.pug

block title
  title Eric Irish | Automotive Photographer

block content
  .container
    .images#images
      - var nums = Array.from(new Array(70),(val,index)=>index+1);
      - nums.sort(function() {return .5 - Math.random();});
      each val in nums
        img(data-src='/images/Website-1080-' + val + '.jpg' alt='image ' + val data-srcset='/images/Website-2560-' + val + '.jpg 2560w, /images/Website-1920-' + val + '.jpg 1920w, /images/Website-1440-' + val + '.jpg 1440w')
