extends ../base-layout.pug

block title
  title Eric Irish | Automotive Photographer

block content
  .container
    .images#images
      - var nums = Array.from({length: 71}, () => Math.floor(Math.random() * 71));
      each val in nums
        img(data-src='/images/Website-1080-' + val + '.jpg' data-srcset='/images/Website-2560-' + val + '.jpg 2560w, /images/Website-1920-' + val + '.jpg 1920w, /images/Website-1440-' + val + '.jpg 1440w')